.steam-game-appid-field {
	background-size: cover;
	background-position: center;
	position: relative;
}

.steam-game-appid-field .appid-inner {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}